header{
    margin-bottom: 2em;
}
.mainheader{
    width:100%;
    display:flex;
    justify-content:space-between;
    border-bottom:maroon 2px solid;
}
.mainheader img{
    max-width:150px;
}
.navheader{
    max-width: 50%;
    max-height:150px;
}
.navheader ul{
    margin:0;
    margin-top:1em;
    padding:0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: large;
    font-weight: bold;
    
}
.navheader ul li ul{
    display:none;
}
.navheader ul li.souslist{
    width:100px;
}

.navheader ul li.souslist:hover ul{
    display:flex;
    flex-direction: column;
    align-self: flex-end;
    padding-top: 0;
    margin-top: 0;
    margin-left: 18px;
    font-size:13px;
}
.navheader ul li.souslist:hover ul li{
    border-left:none;
    border-right:none;
    border-radius:0;
}
.navheader li{
    margin-right: .1rem;
    /* border: 1px brown solid;
    border-radius: 8px; */
    /* padding: .5rem; */
}
.navheader a {
    text-decoration:none;
    color:black;
}